@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Joel Hilton Film Collection!</h1>

    <img src="~/img/Mission06_JoelHilton.jpg" />
    <p>Feel free to record some movies you've been watching or check out the Baconsale podcast!'</p>
</div>
