@{
    ViewData["Title"] = "My Podcasts";
}

<div>
    <img width="444" height="74" src="https://baconsale.files.wordpress.com/2018/11/baconsale3.png?w=444" />
    <h1>
        <a href="https:///baconsale.com/">Check out my podcast BaconSale here!</a>
    </h1>
</div>